<div class="container">
  <div class="row">
    <div class="col">
      <div class="outer">
        <div class="about-text">
            <div style="top: 84px; left: 63px;">
              <p class="text-center" style="font-size: 24px; font-weight: 500;">
<h4>昆虫愛好家のコミュニティを活発にすることを<br>『目的』とし、情報交換や自身の昆虫採集の記録が<br>できるSNSサイトです。</h4>​


<h6>どんな方も大歓迎です！！</h6>
<p>昆虫好きの人</p>
<p>昆虫採集好きの人</p>
<p>昆虫の写真を撮ることが好きな人</p>​

<h6>ご利用方法</h6>
<p>昆虫の採集情報や、生息地情報など虫に関する情報を収集したり、投稿をすることが可能です。</p>
<p>自身の採集記録を残したい時にもご活用いただけます。</p>
<p>投稿に関し、コメントやいいねをしたり、ユーザーさんをフォローすることが可能です。また、お互いのフォローがあればダイレクトメッセージでやりとりができます。</p>
</p>
</div>
</div>
</div>
</div>
<div class="row">
      <div class="col-3"></div>
      <div class="col-6 about-image rounded-circle border border-brown"></div>
      <div class="col-3"></div>
</div>

<!--h6>免責事項</h6>
<p>不適切な内容及び情報と判断した場合、管理者によって投稿を削除することがあります。</p-->
</div>
</div>
