<div class="container-fluid">
  <div class="row">    
    <div class="col-9 col-xl-8">
      <!--div class="outer" style="width: 100%;">
        <div class="heading-image position-relative"-->
         
        <!--/div>
      <!--/div-->
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
      </div>
      <div class="position-absolute heading-text">
          <p>
            昆虫愛好家のコミュニティを活発にすることを『目的』とし、情報交換や自身の昆虫採集の記録ができるSNSサイトです。<br>
            ユーザー登録せずに、一部コンテンツは閲覧が可能です。お楽しみください。<br>
          </p>
      </div>
    </div>
  </div>
</div>  
