<div class="container">
  <div class="row">
    <h2 class="mt-4">ユーザー一覧</h2>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mx-auto">
      <table class="table table-hover">
        <thead class="table-green">
          <tr>
            <th>ユーザー</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= link_to admin_user_path(user) do %>
              <%= image_tag user.get_profile_image(50,50) %>
              <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <!--%= paginate @users %-->
    </div>
  </div>
</div>

