<% @users.each do |user| %>
  <div>
  <%= link_to user_path(user.id) do %>
    <p>ニックネーム：<%= user.name %></p>
    <td><%= render "public/relationships/btn", user: user %></td>
    <%= image_tag user.get_profile_image(50,50) %>
  <% end %>
  </div>
<% end %>
